{% extends "/layout/layout.twig" %}
 
{% block head %}
{{ parent() }}
<script type="text/javascript" src="/public/js/addhours.js"></script>
<script type="text/javascript" src="/public/js/addhoursjson.js"></script>


{% endblock %}

{% block content %}
<p>Date: <input type="text" id="datepicker" value="{{ date }}"></p>
<div id="DayHoursView" style="visibility: hidden; display:inline;">
    <div class="PartDayHours">
    <select class="departmentSelect">
      <option disabled="disabled" selected></option>
      {% for department in departments %}
          <option>
          {{ department }}
          </option>
          {% endfor %}
    </select>
    od <input name="od"  type="text" class="time begin"  required>  
    do <input name="do"  type="text" class="time end" required>
    kilometry <input name="od"  type="text" class="km numberinput" required>
    </div>
</div>
    
    
<div id="DayHours">
{% for hour in hours %}
    <div class="PartDayHours">
    <select class="departmentSelect">
      <option disabled="disabled"></option>
      {% for department in departments %}
          <option  {% if department == hour['department'] %} selected  {% endif %}>
          {{ department }}
          </option>
      {% endfor %}
      
    </select>
    od <input name="begin" value="{{ hour['begin'] }}" type="text" class="time begin"  required>  
    do <input name="end" value="{{ hour['end'] }}" type="text" class="time end" required>
    kilometry <input name="od" value="{{ hour['km'] }}" type="text" class="km numberinput" required>
    </div>
    {% endfor %}
</div>
<br />
<br />
<button id="ButtonAddHour"> dodaj</button>
<button id="ButtonSaveHours"> zapisz </button>
{% endblock %}