{% extends "/layout/logout.layout.twig" %}
 
{% block head %}
<link href="//getbootstrap.com/examples/signin/signin.css" rel="stylesheet" />
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ error }}</h2>
	<form class="form-signin" role="form" action="" method="post">
		<h2 class="form-signin-heading">Proszę się zalogować</h2>
		<input name="login" type="text" class="form-control"
			placeholder="Login" required autofocus> <input name="password"
			type="password" class="form-control" placeholder="Password" required>
		<button name="button" class="btn btn-lg btn-primary btn-block"
			type="submit">Zaloguj</button>
	</form>
</div>
{% endblock %}