{% extends "/layout/layout.twig" %}
 
{% block head %}
{{  parent() }}
<script type="text/javascript" src="/public/js/main.js"></script>


{% endblock %}

{% block content %}
<h2>{{ todayDate }}</h2> <br />
Liczba godzin przepracowanych w tym miesiącu: {{ MonthHours }}<br />
Liczba km przejechanych w tym miesiącu: {{ monthKm }}<br/><br/>


Wybierz dzień do wypełnienia: <div id="datepicker"></div> 
{% endblock %}