<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
         <link rel="stylesheet" href="/public/css/jquery-ui.min.css">
         
         <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script type="text/javascript" src="/public/js/jquery.mask.js"></script>
         <script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>
         
         <title>{% block title %}{% endblock %} - My Webpage</title>
        {% block head %}   {% endblock %}
    </head>
    <body>
    <div class="navbar navbar-default navbar-static-top"> 
        <div class="collapse navbar-collapse" id="">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Główna</a></li>
            <li><a href="/raport">Raport</a></li>
            <li><a href="/logout">Wyloguj</a></li>
          </ul>
        </div>
    </div>
        <div id="content">
         {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
