<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
        {% block head %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
    {% block content %}{% endblock %}
  </body>
  
</html>